*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    color:aliceblue;
    align-items: center;
    justify-content: center;

}
header{
    background-color: rgb(223, 214, 214);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header nav a{
    color: rgb(245, 243, 243);
    text-decoration: none;
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
    gap: 10px;
    width: 100px;
}
img{
    border-radius: 50px;
}
#about, #contact{
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 10, 44);
    border-radius: 10px;
    height: 150px;
}
#about:hover, #contact:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
}
.img{
    display: flex;
    justify-content: center;
}
header h1{
    color:rgb(15, 255, 87);
    font-size:larger;
    background-color:rgb(7, 7, 7);
    width: 100px;
    border-radius: 10px;
}
header nav{
    display: flex;
    gap: 10px;
}
header nav a:hover{
    background-color: rgb(196, 11, 11);
    color: rgb(15, 255, 87);
    transition: background-color 0.3s, color 0.3s;
    transform: scale(1.1);
}
.my{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 200px;
    width: 100%;
}
.my div{
    background-color: #00d6ba;
    border-radius: 50%;
    width: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    flex-direction: column;
    justify-content: center;
}
.my div:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    rotate: 5deg;
    filter: drop-shadow(0 0 5px #e0dcdc);
    border-radius: 50px;
}
#myskill{
    margin: 20px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
}
#myskill h2{
    color: rgb(15, 255, 87);
    font-size: larger;
    background-color: rgb(7, 7, 7);
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-left: 0;
}
footer{
    background-color: rgb(0, 38, 70);
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
}